import React from "react";
import "./style.scss";
export default function System() {
  const { t } = useTranslation();
  const [{ count }, _{{lowerCase code}}] = use{{properCase code}}Store();
  return (
    <div className="{{lowerCase code}}-wrap">
      <h2>{t("{{lowerCase code}}.code")}</h2>
      <Statistic title="Count" value={count} />
      <Button size="large" onClick={() => (_{{lowerCase code}}.count += 1)}>
        + Count
      </Button>
    </div>
  );
}
